@model AllOrdersQueryModel


@foreach (var order in Model.Orders)
{
    <div class="card">
        <h5 class="card-header">@order.CreatedOn</h5>
        <div class="card-body">
            <h5 class="card-title">Products: @order.ProductsCount</h5>
            <p class="card-text">Price: @order.SumPrice lv.</p>
        </div>
    </div>
}